@import "../../style/vars.scss";

.form-signup {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 32px;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 312px;
    height: 50px;
    border-radius: 2000px;
    border: none;
    outline: none;
    &::placeholder {
      padding-left: 34px;
      color: $placeholderColor;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  &-button {
    @include btnStyle(
      $buttonColor,
      $accentColor,
      url("../../assets/Icons/flashBlack.svg")
    );
  }
}
